<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>빛고을상회⚡</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'productapp/css/side_styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'productapp/css/shop_styles.css' %}" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet&display=swap" rel="stylesheet">

    <style>
        @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
        * {
            font-family: 'NanumSquare', sans-serif;
        }
    </style>

</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a style="font-family: 'Hahmlet', serif;" class="navbar-brand" href="{% url 'marketapp:main' %}">빛고을상회</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'marketapp:main' %}">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'eventapp:event-list' %}">MARKET</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'productapp:list' %}">SHOP</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">회원가입</a></li>
            </ul>
        </div>
    </div>
</nav>



        {% block content %}
        {% endblock %}


    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'productapp/js/side_scripts.js' %}"></script>
<script src="{% static 'productapp/js/shop_scripts.js' %}"></script>
</body>
</html>
