{% extends 'productapp/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

    <style>
        div.form-group {
            align-content: center;
            margin: 50px 0;
        }

        input[type=text] {
            margin-left: 35%;
            width: 400px;
        }

        input[type=number] {
            margin-left: 42%;
            width: 200px;
        }

        textarea {
            width: 10px;
            padding: 100px
        }

        label {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .form-control-file {
            margin: 0.3rem 35%;
            padding: 10px;
            width: 70%;
            /*border: 2px solid darkgreen;*/
            border-radius: 0.3rem;
            color: #212529;
            vertical-align: middle;
        }


        .form-control-file::-webkit-file-upload-button {
            visibility: hidden;
        }

        .form-control-file::before {
            content: '업로드';
            color: lightgoldenrodyellow;
            background-color: #212529;
            border-color: #212529;
            display: inline-block;
            border-radius: 3px;
            margin: -3px 0 -3px 10px;
            padding: 5px 20px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-align: center;
            font-size: 10pt;
        }

    </style>

    <div class="text-center mv-500 m-auto">
        <div class="m-5" style="text-align: left">
            <h3 style="font-family: 'Hahmlet', serif; text-align: center">상품 등록 페이지</h3>
        </div>
        <div>
            <form action="{% url 'productapp:create' %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}

                <div class="m-5">
                    <input type="submit"
                           class="btn btn-dark rounded-pill px-5">

                </div>

            </form>
        </div>
    </div>



{% endblock %}