{% extends 'marketapp/base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <p style="font-family: 'Hahmlet', serif;" class="display-5 fw-bolder text-white mb-2 ">빛고을상회</p>
                            <p style="font-family: 'Hahmlet', serif;" class="lead text-white-50 mb-4 my-4">온라인 플리마켓 플랫폼</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center my-5">
                                <a style="background: #fd7e14;" class="btn text-white btn-lg px-4 me-sm-3" href="{% url 'eventapp:create' %}">마켓 등록하기</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="{% url 'eventapp:event-list' %}">마켓 둘러보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div style="background: #fd7e14;" class="feature bg-gradient text-white rounded-3 mb-3"><i class="bi bi-basket"></i></div>
                        <h2 class="h4 fw-bolder my-2">AI 추천 상품 찾아보기</h2>
                        <p class="my-3">우리 지역 작가님들의 상품을 분류하고 유사도를 분석하여 고객님에게 맞는 상품을 추천해드려요!</p>
                        <a class="text-decoration-none" style="color: orangered;" href="#">
                            바로가기
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div style="background: #fd7e14;" class="feature bg-gradient text-white rounded-3 mb-3"><i class="bi bi-globe2"></i></div>
                        <h2 class="h4 fw-bolder my-2">메타버스 온라인 플리마켓</h2>
                        <p class="my-3">제페토 빌드잇으로 구현한 가상 공간에서 우리 지역 사람들과 소통하는 시간을 가져보아요!</p>
                        <a class="text-decoration-none" style="color: orangered;" href="{% url 'marketapp:metaverse' %}">
                            바로가기
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div style="background: #fd7e14;" class="feature bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-left-dots"></i></div>
                        <p class="h4 fw-bolder my-2">지역 챗봇 알림 서비스</p>
                        <p class="my-3">나의 지역에서 열리는 플리마켓 정보를 알림으로 받아볼 수 있어요!</p>
                        <a class="text-decoration-none" style="color: orangered;" href="#">
                            바로가기
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>


    <!-- Testimonials section-->
        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">믿을만한 사용자 리뷰</h2>
                    <p class="lead mb-0 my-3">긍정/부정 리뷰를 분석하여, 나에게 꼭 맞는 리뷰를 찾아볼 수 있어요!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i style="color: #fd7e14;" class="bi bi-emoji-smile-fill fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">푸른길 상생마켓 핸드메이드 공방에서 물품 배송 받아봤는데 너무 예쁘네요. 색깔별로 사서 친구들한테 나눠주고 싶어요! 우리 지역 핸드메이드 작가, 소상공인들을 위해 후원금으로 쓰인다는 점도 취지가 좋아서 마음에 듭니다.</p>
                                        <div class="small text-muted my-2">- OOO씨, 서울특별시</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i style="color: #fd7e14;" class="bi bi-emoji-angry-fill fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">가격에 비해 품질이 너무 별로여서 아쉬울 따름입니다. 전반적인 서비스도 불만족스럽네요. 재구매 의사 당연히 없어요.</p>
                                        <div class="small text-muted my-2">- OOO씨, 대전광역시</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

