{% extends 'marketapp/base.html' %}
{% load static %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-4">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">메타버스 온라인 플리마켓</h1>
                            <p class="lead fw-normal text-white-50 mb-4 my-3">제페토 가상 공간 안에서 우리 지역 사람들과 소통해봐요!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start my-4">
                                <a style="background: #fd7e14;" class="btn text-white btn-lg px-4 me-sm-3 col-5" href="#features">지금 접속하기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'marketapp/img/metaverse.png' %}" alt="..." /></div>
                </div>
            </div>
        </header>

        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">데모 영상</h2></div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div style="background: #fd7e14;" class="feature bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                <h2 class="h5 fw-bolder">제페토 빌드잇으로 구현</h2>
                                <p class="mb-0">플리마켓 디자인 시안입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
